<div class="container-fluid masonry-gallery-rows" #masonryGallery>
  <ng-container *ngFor="let thumbnail of thumbnailsToShow; trackBy: trackByImgId; let idx=index">
    <div class="thumbnail-item thumbnail-hover-effect" *ngIf="thumbnail.isLoaded">
      <a [routerLink]="['slider', thumbnail.id]">
        <img alt="" #galleryImg>
        <div class="caption-bottom">
          <p>{{thumbnail.name}}</p>
        </div>
      </a>
    </div>
  </ng-container>
</div>
<h4 *ngIf="this.thumbnailsToShow.length < this.thumbnails.length; else loadingCompleted">
  {{this.thumbnailsToShow.length}} of {{this.thumbnails.length}}. Loading...
</h4>
<ng-template #loadingCompleted><h4>{{this.thumbnails.length}} items. Loading completed</h4></ng-template>

