<section class="container-slider" >
  <a id="scroll-left"
     class=" button-scroll button-scroll-left "
     (click)="scrollSliderX(-0.8)"
  >
    <img class="control-button" src="http://localhost:80/jala.com/src/img/icons/icon_left4px1.svg" alt="">
  </a>
  <a id="scroll-right"
     class="button-scroll button-scroll-right"
     (click)="scrollSliderX(0.8)"
  >
    <img class="control-button" src="http://localhost:80/jala.com/src/img/icons/icon_right4px1.svg" alt="">
  </a>


  <div id="slider-thumbnail" class="container-thumbnail-slider"
       #sliderContainer
       (scroll)="onSliderScroll($event)"
  >

    <div class="container-fluid container-thumbnail-images" #slider>

      <ng-container *ngFor="let thumbnail of thumbnailsToShow; let idx = index">
        <div class="thumbnail-images thumbnail-hover-effect-bottom"
             *ngIf="isLoaded[idx]"
             #thumbnailImg
             (click)="currentImageIdx=idx"
        >
          <a [routerLink]="['albums', thumbnail.albumId, 'slider', thumbnail.id]">
            <img  src="{{thumbnail.url}}"

                  (error)="onError(thumbnail)"
                  alt=""
                  [style.height]="imageHeight+'px'"
            >
            <!--(error)="thumbnail.isLoaded=false"-->
            <div class="caption-bottom">
              <span>{{thumbnail.name}}</span>
            </div>
          </a>
        </div>
      </ng-container>

      <h4 *ngIf="thumbnailsToShow.length < thumbnails.length"> Loading...</h4>

    </div>

  </div>
</section>
