<div class="album-container">
  <div class="album-caption-container">
    <h3 class="section-header">
      Album: {{albumName}}
      <div class="album-control-bar">
        <a (click)="closeAlbum()" >
          <img class="control-button" src="http://jala.in.ua/img/icons/icon_close4px1.svg" alt="">
        </a>
      </div>
    </h3>
  </div>

  <div class="album-gallery-container">
    <app-masonry-gallery-across
      [thumbnails]="thumbnails"
      [maxRowH]="300"
      [itemsNumber]="8">
    </app-masonry-gallery-across>
  </div>
</div>


<router-outlet></router-outlet>
