<div class="container-slider">

  <div class="image-slider-control-bar">

    <a (click)="closeSlider()" >
      <img class="control-button" src="http://jala.in.ua/img/icons/icon_close4px1_w.svg" alt="">
    </a>
    <a (click)="toggleSliderState()" >
      <img *ngIf = "sliderState=='withThumbnails'; else sliderStateIsFullScreen"
           class="control-button"
           src="http://jala.in.ua/img/icons/icon_fullscr4px2_w.svg" alt="">
      <ng-template #sliderStateIsFullScreen>
        <img class="control-button" src="http://jala.in.ua/img/icons/icon_cancelfullscr4px2_w.svg" alt="">
      </ng-template>
    </a>
  </div>


  <div class="container-img-slider"
         [@sliderState]="sliderState"
       #containerSliderImage
  >

      <a id="scroll-left"
         class=" button-scroll button-scroll-left "
         (click)="scrollSliderX(-1)"
      >
        <img class="control-button" src="http://jala.in.ua/img/icons/icon_left4px1_w.svg" alt="">
      </a>
      <a id="scroll-right"
         class="button-scroll button-scroll-right"
         (click)="scrollSliderX(1)"
      >
        <img class="control-button" src="http://jala.in.ua/img/icons/icon_right4px1_w.svg" alt="">
      </a>

      <a (click)="scrollSliderX(1)" >
        <img  class="img-slider" #sliderImage
              [@sliderImageState]="sliderImageState">
      </a>
  </div>

  <div class="container-thumbnail-slider"
       id="slider-thumbnail"
       #sliderContainer
       (scroll)="onSliderScroll()"
  >

    <div
      class="container-fluid container-thumbnail-images"
      #slider
    >

    <ng-container
      *ngFor="let thumbnail of thumbnailsToShowFiltered; let idx = index">

      <div class="thumbnail-images thumbnail-hover-effect-bottom"
           #thumbnailImg
           id="{{thumbnail.id}}"
           (click)="moveSliderImage(thumbnail.id)"
      >
        <a>
          <img  src="{{thumbnail.url}}"
                (error)="onError(thumbnail)"
                alt=""
                [@sliderThumbnailState]="(idx == currentImageIdx) ? sliderImageState : 'out'"
          >
          <div class="caption-bottom">
            <span>{{thumbnail.name}}</span>
          </div>
        </a>
      </div>

    </ng-container>

    <h4 *ngIf="thumbnailsToShow.length < thumbnails.length"> Loading...</h4>

  </div>

  </div>
</div>
