<app-main-nav></app-main-nav>

<router-outlet></router-outlet>
<!--<app-main-page></app-main-page>-->

<!--<div class="container-fluid">-->
  <!--<app-portfolio-thumbnails [portfolio]="portfolio"></app-portfolio-thumbnails>-->
  <!--<h1> Last Images </h1>-->
  <!--<app-thumbnails-slider-->
    <!--[thumbnails]="thumbnails"-->
    <!--[itemsNumber]="8"-->
    <!--[imageHeight]="300"-->
  <!--&gt;-->
  <!--</app-thumbnails-slider>-->

  <!--<app-masonry-gallery-down-->
    <!--[thumbnails]="thumbnails"-->
  <!--&gt;</app-masonry-gallery-down>-->

  <!--<app-masonry-gallery-across-->
    <!--[thumbnails]="thumbnails"-->
    <!--[maxRowH]="300"-->
    <!--[itemsNumber]="8">-->
  <!--</app-masonry-gallery-across>-->

  <!--<app-image-slider-->
    <!--[thumbnails]="thumbnails"-->
    <!--[itemsNumber]="15"-->
    <!--[imageHeight]="75"-->
  <!--&gt;</app-image-slider>-->

<!--</div>-->

<app-main-footer></app-main-footer>





