/*main styles********************************* */
body {
  overflow-y: scroll;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

section {
  margin: 30px 0;
}
.section-header {
  margin: 60px 0 10px 0;
  font-weight: 300;
}

@media (max-width: 768px) {
  section h1, h2 {
    font-size: 25px;
    font-weight: 500;
  }
}

hr {
  border-top: 1px solid #3c3c3c;
}
ul {
  padding: 0;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}
.button-default {
  background-color: transparent;
  border: none;
  opacity: 0.8;
  transition-duration: 0.2s;
  padding: 10px;
}
.button-default * {
  padding: 10px;
}
.button-default:active, .button-default:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  text-decoration: inherit;
}
.button-default:hover {
  text-decoration: none;
  opacity: 1;
  color: inherit;
}

/*scrollbar style*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/*main navbar styles ********************************/
.main-navbar-container {
  background-color: rgba(255,255,255,0.5);
  height: 140px;
  border: none;
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;
}
.main-navbar-placeholder {
  height: 140px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
  background-color: rgba(255,255,255,0.9);
}

.navbar-fixed-top .logo1 img {
  height: 60px;
}
.logo1 {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.logo1 span {
  color: #000;
  font-size: 50px;
  font-weight: 500;
}
.logo1 img {
  height: 120px;
  width: auto;
}
@media (max-aspect-ratio: 7/10) {
  .logo1 img, .navbar-fixed-top .logo1 img {
    width: 40%;
    height: auto;
  }
}

.burger-menu1 {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 40px;
}
.burger-menu1 img {
  width: 80px;
  height: auto;
  opacity: 0.6;
}
.navbar-fixed-top .burger-menu1 img {
  width: 60px;
}

.burger-menu1 img:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .logo1 {
    left: 0;
  }
  .burger-menu1 {
    right: 0;
    font-size: 30px;
  }
  .burger-menu1 img {
    width: 60px;
  }
}
.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.nav-list li {
  list-style-type: none;
  text-align: center;
  padding: 20px 40px;
}
.nav-list li a {
  font-size: 40px;
  font-weight: 500;
  padding: 20px 40px;
  color: rgba(0,0,0,0.6);
}
.nav-list li a:hover {
  font-weight: 600;
  color: rgba(0,0,0,1);
}

 /*portfolio thumbnails *****************************/
.container-portfolio {
  padding: 0;
}
.thumbnail-portfolio {
  position: relative;
  padding: 0;
}
.thumbnail-portfolio img {
  width: 100%;
  padding: 40px;
}
@media (max-width: 768px) {
  .container-portfolio {
    padding: 0;
  }
  .thumbnail-portfolio img{
    padding: 8px;
  }
}
.caption-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}
.caption-center span, .caption-center p {
  font-weight: 400;
  font-size: 35px;
  color: white;
  padding: 20px;
}

/*thumbnail hover effect **********************************/
.thumbnail-hover-effect img {
  transition-duration: 0.5s;
}
.thumbnail-hover-effect span, .thumbnail-hover-effect p {
  opacity: 0.3;
  transition-duration: 0.5s;
}
.thumbnail-hover-effect:hover img {
  filter: grayscale(100%) brightness(90%);
}
.thumbnail-hover-effect:hover span, .thumbnail-hover-effect:hover p {
  opacity: 1;
}
.thumbnail-hover-effect-bottom img {
  transition-duration: 0.5s;
}
.thumbnail-hover-effect-bottom span, .thumbnail-hover-effect-bottom p {
  opacity: 0.3;
  transition-duration: 0.5s;
}
.thumbnail-hover-effect-bottom:hover span, .thumbnail-hover-effect-bottom:hover p {
  opacity: 1;
}

/*app-masonry-gallery *****************/
.masonry-gallery-rows {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  opacity: 1;
}

.masonry-gallery-rows img { /*Here you can change paddings, borders and margins of images*/
  padding: 2px;
  /*border: 2px solid #ccc;*/
  /*margin: 5px;*/
  border-radius: 5px;
  /*height: 250px;*/
  /*width: auto;*/
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}

/*masonry-gallery-down *************************************** */
.masonry-gallery-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 800px;
  padding: 0;
  margin: 10px;
  opacity: 1;
}

@media (min-width: 1200px) {
  .masonry-gallery-down .thumbnail-item {
    width: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .masonry-gallery-down .thumbnail-item  {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .masonry-gallery-down .thumbnail-item  {
    width: 33.333%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .masonry-gallery-down .thumbnail-item  {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .masonry-gallery-down .thumbnail-item  {
    width: 100%;
  }
}
.masonry-gallery-down .thumbnail-item {
  padding: 5px; /* Padding might be changed */
  margin: 0; /* Don't change! */
  box-sizing: border-box;
  position: relative;
}
.masonry-gallery-down .thumbnail-item img {
  display: block;
  box-sizing: border-box;
  width: 100%; /* Don't change! */
  padding: 2px; /* Padding might be changed */
  /*border: 2px solid #ccc; !* Border might be changed *!*/
  margin: 0; /* Don't change! Instead you can add padding in .thumbnail-item class  */
}

/*Styles for anchors and captions*/
.thumbnail-item {
  position: relative;
  padding: 0;
  margin: 0;
}
.thumbnail-item img {
  display: block;
}
.caption-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.caption-center p {
  padding: 20px;
  color: white;
  font-size: 18px;
}

/* thumbnails slider *********************************/
.container-slider {
  position: relative;

}
.container-thumbnail-slider {
  width: calc(100% - 80px);
  margin: 0 auto;
  overflow-x: scroll;
}
@media (max-width: 768px) {
  .container-thumbnail-slider {
    width: calc(100% - 10px);
  }
}
.button-scroll {
  display: block;
  position: absolute;
  z-index: 600;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px 0;
  /*font-size: 60px;*/
}
.button-scroll .control-button {
  height: 40px;
}

.control-button {
  opacity: 0.4;
  transition-duration: 0.5s;
}
.control-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.button-scroll-left {
  left: 20px;
}
.button-scroll-right {
  right: 20px;
}
.container-thumbnail-images {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.thumbnail-images {
  position: relative;
  padding: 0;
  margin: 0 10px 10px 0;
  cursor: pointer;
}
.thumbnail-images img {
  height: 10vh;
  transition-duration: 0.5s;
}
.caption-bottom {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: right;
}
.caption-bottom span, .caption-bottom p {
  font-weight: 200;
  font-size: 16px;
  color: white;
  padding: 10px;
}

/*image slider ********************************/
.slider-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: 2000;
  background-color: black;
}

.section-header-slider {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2100;
  margin: 0;
  color: white;
  font-weight: 400;
  width: 30%;
}

.container-img-slider {
  position: relative;
  width: 100%;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-slider .img-slider {
  display: block;
  height: 70vh;
  width: auto;
  cursor: pointer;
  transition-duration: 0.2s;
}

.thumbnail-active {
  border: solid 2px gray;
}
.image-slider-control-bar {
  position: absolute;
  z-index: 1300;
  right: 10px;
  top: 10px;
  width: 40px;
}
.image-slider-control-bar a {
  display: block;
  float: right;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.image-slider-control-bar a img {
  width: 100%;
}


/*footer*************************/
.main-page-footer {
  margin: 40px 0 0 0;
  background-color: #3c3c3c;
  color: rgba(255, 255, 255, 0.6);
}
.footer-nav {
  height: 100px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.main-page-footer li {
  list-style-type: none;
}
.main-page-footer li a {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 15px;
  transition-duration: 0.5s;
}
.main-page-footer li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.main-page-footer .footer-copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 15px;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .footer-nav {
    height: 140px;
  }
  .main-page-footer li {
    padding: 5px 10px;
    font-size: 20px;
  }
  .main-page-footer .footer-copyright {
    font-size: 12px;
    padding: 10px 10px;
  }
}

/*blog styles*********************************************/
.post {
  overflow: auto;
}

.post hr {
  border-width: 1px;
  border-color: #ddd;
}

hr {
  border-width: 1px;
  border-color: #ddd;
}

.post-img {
  display: block;
  width: 450px;
  float: left;
  margin: 0 2em 2em 0;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .post-img {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .post-img {
    width: 80%;
    float: none;
    margin: 2em auto;
  }
  .post-img + div, .post-img + p {
    clear: both;
  }
}
.cont-main {
  margin: 0 auto;
  max-width: 1024px;
}
.cont-main p {
  color: black;
  font-weight: 300;
  font-size: 16px;
}
